<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajatiit.admin_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomizedAppTheme">
        <activity
            android:name=".activities.userActivities.adminActivity.AdminMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.userActivities.teacheractivity.TeacherMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.userActivities.batchActivity.BatchMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Intermediate" />
        <activity android:name=".activities.intefaces.teacherInterface.TeacherInterface" />
        <activity android:name=".activities.intefaces.batchInterface.BatchInterface" />
        <activity android:name=".activities.intefaces.classroomInterface.ClassroomInterface" />
        <activity android:name=".activities.intefaces.classroomInterface.AssignTeacherOrBatch" />
        <activity android:name=".activities.intefaces.roomInterface.RoomInterface" />
        <activity
            android:name=".activities.userActivities.adminActivity.AdminFragment.ShowIndividualSlotActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".Login" />
        <activity android:name=".Start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
